:root {
    --ff-sans: 'Inter', sans-serif;
    --ff-serif: "Playfair Display", serif;
    --fs-md: 1.125rem;
    --fs-xl: clamp(1rem, 4vw, 4rem);
    --clr-night-blue: #02021d;
    --clr-pale-blue: #e7effd;
}
html {
    scroll-behavior: smooth;
  }
.blogSection {
    height: 100vh;
    background: white;
}
.projectsSection {
    height: 100vh;
}
.Designs {
    height: 100vh;
}
dbody {
    position: relative;
    height: 100vh;
    background-color: var(--clr-night-blue);
    font-family: var(--ff-sans);
    font-size: var(--fs-md);
    color: var(--clr-pale-blue);
    user-select: none;
}