/* Body Nav Menu */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.stageNav {
  height: 350px;
  width: 250px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.pNav {
  font-size: 38px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 0;
  cursor: pointer;
  width: 100%;
  background: rgb(90, 227, 102, 0.8);
  border-radius: 10px;
  letter-spacing: 2px;
}
.divItem {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  margin-top: 5%;
  transition-duration: 0.2s;
}
.pNav:hover {
  background: white;
  color: #58e366;
}
.divItem:nth-child(odd) {
  transform: perspective(300px) rotateY(45deg);
  box-shadow: -2px 2px 7px gray;
}
.divItem:nth-child(even) {
  transform: perspective(300px) rotateY(-45deg);
  box-shadow: 2px 2px 7px gray;
}
.divItem:hover {
  transform: rotateY(0);
  background: white;
  color: black;
  box-shadow: -2px 2px 7px gray;
}
.blink {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
/* END Body Nav Menu */

/* My Customizations */

.myLogo {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  background-color: rgba(174, 174, 190, 0.2);
  margin-top: 0%;
  margin-bottom: 10vh;
  padding-top: 0%;
  padding-bottom: 0%;
  height: 10%;
  box-shadow: 0px 100px 350px #ff9900bc;
  /* box-shadow: "0px 1px 2px rgba(255, 255, 255, 0.2); */
}
.logoText {
  align-self: flex-start;
  margin-top: 1.2%;
  margin-bottom: 1.2%;
  margin-left: 1vw;
  text-shadow: -2px 2px 7px gray;
  text-align: left;
}
.navbarContact {
  margin-top: 1.6%;
  margin-right: 1vw;
  width: fit-content;
  align-self: flex-start;
  margin-left: auto;
}
.linkStyle {
  text-decoration: none;
  color: #e7effd;
}

.linkStyle:hover {
  color: #58e366;
}
@media only screen and (max-width: 600px) {
  .myLogo {
    box-shadow: 0px 80px 400px #ff9900d1;
    height: 20%;
  }
  .logoText {
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 2vw;
  }
  .navbarContact {
    margin-top: 7.4%;
    margin-right: 2vw;
  }
  .stageNav {
    margin-top: 30%;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
}

/* END My Customizations */
