* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.stageNav {
  height: 350px;
  width: 250px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.pNav {
  font-size: 35px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 0;
  cursor: pointer;
  width: 100%;
  background: #58e366;
  border-radius: 10px;
  letter-spacing: 4px;
}
.divItem {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  margin-top: 4%;
  transition-duration: 0.2s;
}
.pNav:hover {
  background: white;
  color: #58e366;
}
.linkStyle {
  text-decoration: none;
  color: white;
}

.linkStyle:hover {
  color: #58e366;
}
.divItem:nth-child(odd) {
  transform: perspective(300px) rotateY(45deg);
  box-shadow: -2px 2px 7px gray;
}
.divItem:nth-child(even) {
  transform: perspective(300px) rotateY(-45deg);
  box-shadow: 2px 2px 7px gray;
}
.divItem:hover {
  transform: rotateY(0);
  background: white;
  color: black;
  box-shadow: -2px 2px 7px gray;
}
.blink {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
