:root {
  --bg: #ebf0f7;
  --header: #fbf4f6;
  --text: #2e2e2f;
  --white: #fff;
  --light-grey: #c4cad3;
  --tag-1: #ceecfd;
  --tag-1-text: #2e87ba;
  --tag-2: #d6ede2;
  --tag-2-text: #13854e;
  --tag-3: #ceecfd;
  --tag-3-text: #2d86ba;
  --tag-4: #f2dcf5;
  --tag-4-text: #a734ba;
  --purple: #7784ee;
}
.project-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1vw;
}

.project {
  width: 30vw;
  max-width: 100%;
  padding-left: 1vw;
}

.project-tasks {
  width: 100%;
  margin-left: 3vw;
}
.task {
  cursor: pointer;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  margin-bottom: 1rem;
  border: 3px dashed transparent;
}
.task:hover {
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  border-color: rgba(162, 179, 207, 0.2) !important;
}
.task p {
  font-size: 15px;
  margin: 1.2rem 0;
  color: #7784ee;
}
.task__tag {
  border-radius: 100px;
  padding: 2px 13px;
  font-size: 12px;
}
.task__tag--App {
  color: var(--tag-4-text);
  background-color: var(--tag-4);
}
.task__tag--Web {
  color: var(--tag-3-text);
  background-color: var(--tag-3);
}
.task__tag--Softwares {
  color: var(--tag-2-text);
  background-color: var(--tag-2);
}
.task__tags {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task__options {
  background: transparent;
  border: 0;
  color: var(--light-grey);
  font-size: 17px;
}
.task__stats {
  position: relative;
  width: 100%;
  color: var(--light-grey);
  font-size: 12px;
}
.task__stats span:not(:last-of-type) {
  margin-right: 1rem;
}
.task__stats svg {
  margin-right: 5px;
}
.task__owner {
  width: 25px;
  height: 25px;
  border-radius: 100rem;
  background: var(--purple);
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
}
.task-hover {
  border: 3px dashed var(--light-grey) !important;
}

@media only screen and (max-width: 1300px) {
  .project {
    max-width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .project {
    width: 46vw;
    margin: auto;
  }
  .project-tasks {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .project {
    width: 90vw;
    margin: auto;
  }

  .project-tasks {
    grid-template-columns: 1fr;
  }
  .task-details {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 25px;
  }
}
.modal-dialog {
  margin-left: 0.5% !important;
  margin-top: 0.5% !important;
  height: 99% !important;
  min-height: 99% !important;
  max-height: 99% !important;
  width: 99% !important;
  max-width: 99% !important;
  min-width: 90% !important;
}
.modal-content {
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
}
